<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>stackoverflow</title>
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcss.com/skeleton/2.0.4/skeleton.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelenve columns">
                <h1> Hello Welcome You... </h1>
            </div>
        </div>
        <div class="row">
            <div class="nine columns" id="article">
                <div class="row">
                    <p>Hello, Welcome to my blog...</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="twelenve columns">
            <form method="post">
                {{form.body}}
                <br>
                {{form.submit}}
            </form>
            </div>
        </div>
    </div>
</body>
</html>
