<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>stackoverflow</title>
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcss.com/skeleton/2.0.4/skeleton.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/static/realtime.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="eleven columns">
                <h1> Hello Real World </h1>
            </div>
        </div>

        <div class="row">
            <div class="nine columns" id="realtime">
                <div class="row">
                    <p>hello!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
